<% if flash[:alert] %>
  <% flash[:alert].each do |alert| %>
    <% if alert %>
      <p class="alert alert-success">Правильно</p>
    <% else %>
      <p class="alert alert-danger">Неправильно</p>
    <% end %>
  <% end %>
<% end %>

<% if @cards.count > 0 %>
  <%= form_tag answer_path do %>
    <% @cards.each do |card| %>
      <h1><%= card.translated_text %></h1>
      <%= hidden_field_tag "original_text[]", card.original_text %>
      <%= text_field_tag "answer[]" %>
    <% end %>
    <br>
    <button>Answer</button>
  <% end %>
<% else %>
  <h1>Нет карточек для изучения</h1>
<% end %>
