<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<% if @card %>
  <h1><%= @card.translated_text %></h1>
  <%= form_tag answer_path do %>
    <%= text_field_tag :answer %>
    <button>Answer</button>
  <% end %>
<% else %>
  <h1>Нет карточек для изучения</h1>
<% end %>
