<div class="jumbotron text-center">
  <h1><i class='fa fa-language'></i> Flashcards</h1>
  <h2><%= t ".call_to_action"  %></h2>
  <br>
  <%= link_to t(".button"), new_registration_path,
    class: "btn btn-primary btn-lg" %>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h1><i class="fa fa-graduation-cap"></i></h1>
    <p>Lorem ipsum dolor sit amet, utinam impetus dolores ut his. Clita necessitatibus mei an, ius ei sanctus percipitur disputando. Sea elit minim placerat eu, brute nulla consequat has no. Senserit sapientem an ius. Virtute hendrerit at eam, per clita liberavisse et.</p>
  </div>

  <div class="col-md-4 text-center">
    <h1><i class="fa fa-refresh"></i></h1>
    <p>Paulo neglegentur mea at, ut pri quem laudem, ignota noster voluptua per ea. Est eripuit impedit at, id vis quidam iuvaret meliore. Quodsi epicuri est ei, id nam agam verear nominavi. Sit nullam veritus eu, est veri falli inermis an.</p>
  </div>

  <div class="col-md-4 text-center">
    <h1><i class="fa fa-rocket"></i></h1>
    <p>Omnes ceteros docendi vel ut, eum iuvaret delectus volutpat ei. An vis saepe audire, in per autem argumentum efficiantur. Habeo fastidii fabellas eos et. Quo ad discere epicurei lucilius, sed ex option pertinax. Vis laudem alienum quaerendum no.</p>
  </div>
</div>
